body {
  .evennumber, .oddnumber {
	margin: 0;
	opacity: 0.8;
  }

  .evennumber {
	background: #9f9f9f;
  }

  .oddnumber:first-child, .evennumber:last-child {
	color: #000000;
  }

  .oddnumber {
	background: #cfcfcf;
  }

  background: #419641;
  input, button {
	color: #000000;
	text-align: right;
  }

  .fade-in {
	width: 0;
	height: 0;
	transition: 2s linear all;
	-webkit-transition: 2s linear all;
  }

  .fade-in:hover {
	width: 200px;
	height: 200px;
  }

  .fade-in.ng-enter {
	opacity: 0;
  }

  .fade-in.ng-enter.ng-enter-active {
	opacity: 1;
  }

  .fade-in.ng-leave {
	opacity: 0;
  }

  .fade-in.ng-leave.ng-leave-active {
	opacity: 1;
  }

  .custom-grid {
	background: transparent;
	width: 100%;
	height: 300px;
	color: #000000;
	padding: 20px;
  }

  div[ng-custom-grid] {
	background: transparent;
  }

  .product-container {
	height: 50vh;
	overflow-y: scroll;
	width: 100vw;
	align-content: center;
	position: fixed;
	left: 0;
	bottom: 25vh;

	div {
	  margin: 3vh 1vw 3vh 1vw;
	  padding: 0.5vh 0.5vw 0.5vh 1.5vw;
	  span, button {
		margin: 0.5vh 0.5vw 0.5vh 0.5vw;
		color: #232323;
	  }

	  border-radius: 20px;

	}

	div:nth-of-type(odd) {
	  background: #efefef;
	}

	div:nth-of-type(even) {
	  background: #a1ef3f;
	}
  }

  .chart {
	width: 40vw;
	height: 32vh;
  }

  table {
	height: 60vh;
	overflow-y: scroll;
	width: 130vw;
	align-content: center;
	position: fixed;
	left: 5vw;
	bottom: 15vh;
  }
}

.login-form {
  input {
	width: 100%;
	margin: 5px 5px 10px 10px;
  }

  padding: 5px 5px 10px 10px;

  align-content: center;
}