<table>
	<tr>
		<td>
			<div ac-chart="'area'" ac-config="chartConfig" ac-data="statisticsData" class="chart">
			</div>
		</td>
		<td>
			<div ac-chart="'pie'" ac-config="chartConfig" ac-data="statisticsData" class="chart">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div ac-chart="'line'" ac-config="chartConfig" ac-data="statisticsData" class="chart">
			</div>
		</td>
		<td>
			<div ac-chart="'bar'" ac-config="chartConfig" ac-data="statisticsData" class="chart">
			</div>
		</td>
	</tr>
</table>