<h1 class="cover-heading">Test Page</h1>
<ng-test-login-form on-login="Login(user)" on-register="Register(user)">
	<input type="text" ng-model="user.lastname"/>
</ng-test-login-form>

<div ng-test-grid></div>
<div ng-left-nav header="Hello World">
	<p>Test 1</p>
	<p>Test 2</p>
</div>
	<h2 ng-bind-template="{{user.name}}, {{user.lastname}}!"></h2>
	<div>
		<p ng-repeat="num in filteredNums">{{num}}</p>
	</div>
	<div>
		<p ng-repeat="num in numbers" ng-class="{oddnumber: $odd, evennumber: $even}">{{num}}</p>
	</div>
	<input type="number" ng-model="switcher" ng-change="switcherChanged()">
	<p ng-bind="changesMessage"></p>
	<div ng-switch on="switcher">
		<p ng-switch-default>Enter number from 1 to 5</p>
		<p ng-switch-when="1">It's 1</p>
		<p ng-switch-when="5">It's 5</p>
	</div>
